@import "bootstrap";

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  padding-top: 70px;
  padding-bottom: 60px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.logo {
  text-align: center;
}

.center {
  text-align: center;
}

.footer,
.push {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ADD8E6;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .my-table {
    display: block;
    overflow: auto;
  }
}